.super-mario {
    width: 100px;
    /* right: 400px; */
    z-index: 2;
    position: absolute;
    border: 2px solid red;
  }

   
  .goomba {
    width: 200px;
    position: absolute;  
    /* left: 100px; */
    z-index: 1;
    border: 2px solid orange;
}
  
  .baloon {
    position: absolute;
    left: 100px;
    top: 150px;
    width: 300px;
    z-index: 3;
  
  }
  
  .speech {
    font-size: 20px;
    position: absolute;
    bottom: 320px;
    left: 150px;
    z-index: 4;
    /* left: 430px; */
  }
  
  .bowser {
    width: 200px;
    bottom: 100px;
    left: 400px;
    border: 2px solid blue;
    position: absolute;
    
    
  }

/* 1 - Posicione o Mário acima do Goomba.
2 - Posicione a tag p para que fique dentro do balão de fala.
3 - Posicione o balão para que se torne uma fala de Bowser. */